.image-wrap{
	width: 500px;
	height: 300px;
	border: 1px;
}

.image-center{
	display: block;
	margin: auto;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.body{

font-size: 15px;
letter-spacing: 0.02em;
text-align: center;

}

.main{
max-width: 1024px;
margin: 50px auto;
width: 90px;

}

.p{
text-align: center;


}

.transition-fade{

	transition: .4s;
	opacity: 1;
}
html.is-animating.transition-fade{
	opacity: 0;
}
.btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
}

.btn-group button:not(:last-child) {
    border-right: none; 
}


.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: under;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.instagram {
  background: #3B5998;
  color: white;
}

.telegram{
  background: #55ACEE;
  color: white;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}